<%= stylesheet_link_tag "application" %>

<h1> LISTA DE PACIENTES </h1>

<table border="1" border-style="solid">
	<thead>
		<tr>
			<th>Primer Nombre</th>
			<th>Segundo Nombre</th>
			<th>Apellidos</th>
			<th>Dirección</th>
			<th>Fecha de Nacimiento</th>
		</tr>	
	</thead>
	
	<tbody>
		<% @patients.each do |patient| %>
			<tr>
				<td><%= patient.firstname %></td>
				<td><%= patient.middlename %></td>
				<td><%= patient.lastname %></td>
				<td><%= patient.address %></td>
				<td><%= patient.birth_date.strftime("%d/%m/%Y") %></td>
				<td><%= link_to 'Eliminar Paciente', patient, method: :delete, data: { confirm: 'Esta Seguro de eliminar el paciente?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br/>
<%= link_to 'Nuevo Paciente', new_patient_path %>
<br/>
<br/>
<%= link_to 'Volver', static_pages_path %>