<h1> Datos del paciente </h1>
        <p>
            <strong># Paciente </strong>
            <%= @patient.id %>
        </p>

        <p>
            <strong>Primer Nombre</strong>
            <%= @patient.firstname %>
        </p>

        <p>
            <strong>Segundo Nombre</strong>
            <%= @patient.middlename %>
        </p>

        <p>
            <strong>Apellidos</strong>
            <%= @patient.lastname %>      
        </p>

        <p>
            <strong>Direccion</strong>
            <%= @patient.address %>
        </p>

        <p>
            <strong>Fecha de Nacimiento</strong>
            <%= @patient.birth_date.strftime("%d/%m/%Y") %>
        </p>

        <%= link_to 'Volver a Pacientes', patients_path %>
